In [1]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
import numpy as np
import pandas as pd
import scipy

In [2]:
snap_df = pd.read_csv("percentage_data.csv")

In [3]:
snap_df.head()

,Unnamed: 0,State,% of WIC Participants,% of School Lunch Program Participants,% of School Breakfast Program Participants,% of Summer Food Participants,% Adults with Diabetes,% Obese Adults,State Population
0,0,AL,2.878178,11.174373,4.641764,0.627563,15.489552,36.128358,4829479
1,1,AK,3.162859,7.201662,2.845407,0.696638,7.103571,31.325000,728929
2,2,AZ,2.754891,9.763085,4.370366,0.357575,11.093333,28.773333,6624617
3,3,AR,3.034377,11.238083,5.623351,1.417735,13.308000,35.898667,2958663
4,4,CA,3.735160,8.594137,3.958088,0.299174,8.774138,24.131034,38335203

In [5]:
snap_df = snap_df.drop("Unnamed: 0", axis = 1)
snap_df.head()

,State,% of WIC Participants,% of School Lunch Program Participants,% of School Breakfast Program Participants,% of Summer Food Participants,% Adults with Diabetes,% Obese Adults,State Population
0,AL,2.878178,11.174373,4.641764,0.627563,15.489552,36.128358,4829479
1,AK,3.162859,7.201662,2.845407,0.696638,7.103571,31.325000,728929
2,AZ,2.754891,9.763085,4.370366,0.357575,11.093333,28.773333,6624617
3,AR,3.034377,11.238083,5.623351,1.417735,13.308000,35.898667,2958663
4,CA,3.735160,8.594137,3.958088,0.299174,8.774138,24.131034,38335203

In [13]:
top_ten_wic = snap_df.sort_values("% of WIC Participants", ascending = False)
top_ten_wic.head(10)

top_ten_wic.to_csv("top_ten_wic.csv", encoding = "utf-8", index = True, header = True)

In [14]:
top_ten_lunch = snap_df.sort_values("% of School Lunch Program Participants", ascending = False)
top_ten_lunch.head(10)

top_ten_lunch.to_csv("top_ten_lunch.csv", encoding = "utf-8", index = True, header = True)

In [15]:
top_ten_breakfast = snap_df.sort_values("% of School Breakfast Program Participants", ascending = False)
top_ten_breakfast.head(10)

top_ten_breakfast.to_csv("top_ten_breakfast.csv", encoding = "utf-8", index = True, header = True)

In [9]:
top_ten_summer = snap_df.sort_values("% of Summer Food Participants", ascending = False)
top_ten_summer.head(10)

,State,% of WIC Participants,% of School Lunch Program Participants,% of School Breakfast Program Participants,% of Summer Food Participants,% Adults with Diabetes,% Obese Adults,State Population
8,DC,2.414486,7.789853,5.371978,5.357344,8.100000,22.400000,649165
32,NY,2.609082,8.761756,3.259087,1.997942,9.630645,27.524194,19673546
49,WI,1.980949,9.789854,3.013467,1.537459,9.706944,31.470833,5742854
3,AR,3.034377,11.238083,5.623351,1.417735,13.308000,35.898667,2958663
12,ID,2.685590,9.937215,4.675402,1.300177,9.238636,28.675000,1612011
20,MD,2.438456,7.127581,3.568899,1.244788,11.062500,31.012500,5931129
40,SC,2.606748,10.026523,5.735090,1.178130,14.367391,35.139130,4767894
29,NH,1.185390,7.363496,1.700856,1.108274,9.880000,28.170000,1322687
31,NM,2.942270,10.559550,7.105098,1.073570,9.254545,25.078788,2085193
45,VT,2.365660,8.217782,3.655643,1.061007,8.085714,25.678571,627140

In [16]:
top_ten_diabetes = snap_df.sort_values("% Adults with Diabetes", ascending = False)
top_ten_diabetes.head(10)
top_ten_diabetes.to_csv("top_ten_diabetes.csv", encoding = "utf-8", index = True, header = True)

In [17]:
top_ten_obese = snap_df.sort_values("% Obese Adults", ascending = False)
top_ten_obese.head(10)
top_ten_obese.to_csv("top_ten_obese.csv", encoding = "utf-8", index = True, header = True)