In [43]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
import numpy as np
import pandas as pd
import scipy

In [44]:
disease_df = pd.read_csv("obs_diabetes.csv") 
pop_df = pd.read_csv("pop_data_by_county.csv")

In [45]:
disease_df.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14
0,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,25.000000,0.073889,0.090261,22.156783
1,1003,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,38.888889,0.100331,0.124931,24.518392
2,1005,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,-100.000000,0.036157,0.000000,-100.000000
3,1007,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,0.000000,0.043590,0.044433,1.932818
4,1009,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,0.000000,0.052319,0.051976,-0.654897

In [46]:
pop_df.head()

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001.0,Alabama,Autauga,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003.0,Alabama,Baldwin,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005.0,Alabama,Barbour,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007.0,Alabama,Bibb,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009.0,Alabama,Blount,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"

In [47]:
states_df = pd.read_csv("states.csv")
states_df.head()

   state_name abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [48]:
disease_df = pd.merge(disease_df, states_df, how = "inner", left_on = "State", right_on = "abbreviation")
disease_df.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14,state_name,abbreviation
0,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,25.000000,0.073889,0.090261,22.156783,Alabama,AL
1,1003,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,38.888889,0.100331,0.124931,24.518392,Alabama,AL
2,1005,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,-100.000000,0.036157,0.000000,-100.000000,Alabama,AL
3,1007,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,0.000000,0.043590,0.044433,1.932818,Alabama,AL
4,1009,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,0.000000,0.052319,0.051976,-0.654897,Alabama,AL

In [49]:
disease_df = disease_df.drop("abbreviation", axis = 1)
disease_df.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14,state_name
0,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,25.000000,0.073889,0.090261,22.156783,Alabama
1,1003,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,38.888889,0.100331,0.124931,24.518392,Alabama
2,1005,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,-100.000000,0.036157,0.000000,-100.000000,Alabama
3,1007,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,0.000000,0.043590,0.044433,1.932818,Alabama
4,1009,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,0.000000,0.052319,0.051976,-0.654897,Alabama

In [65]:
pop_df['State'] = pop_df['State'].str.strip() #strip trailing white space from state name
county_data = pd.merge(disease_df, pop_df, how = "inner", left_on = "state_name", right_on = "State")
county_data

,FIPS,State_x,County_x,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,...,FIPS,State_y,County_y,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1001.0,Alabama,Autauga,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1003.0,Alabama,Baldwin,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1005.0,Alabama,Barbour,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1007.0,Alabama,Bibb,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1009.0,Alabama,Blount,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"
5,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1011.0,Alabama,Bullock,"10,914","10,722","10,654","10,576","10,712","10,455","10,362"
6,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1013.0,Alabama,Butler,"20,947","20,848","20,665","20,330","20,283","20,126","19,998"
7,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1015.0,Alabama,Calhoun,"118,572","117,736","117,208","116,475","115,837","115,285","114,611"
8,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1017.0,Alabama,Chambers,"34,215","34,006","34,084","34,123","33,996","34,043","33,843"
9,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1019.0,Alabama,Cherokee,"25,989","26,073","26,017","26,074","25,944","25,726","25,725"
10,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1021.0,Alabama,Chilton,"43,643","43,758","43,693","43,769","43,874","43,809","43,941"
11,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1023.0,Alabama,Choctaw,"13,859","13,610","13,549","13,384","13,310","13,201","12,993"
12,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1025.0,Alabama,Clarke,"25,833","25,549","25,148","25,105","24,862","24,726","24,392"
13,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1027.0,Alabama,Clay,"13,932","13,676","13,461","13,464","13,503","13,495","13,492"
14,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1029.0,Alabama,Cleburne,"14,972","14,976","14,928","15,031","15,076","14,996","14,924"
15,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1031.0,Alabama,Coffee,"49,948","50,484","51,180","50,729","50,757","51,063","51,226"
16,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1033.0,Alabama,Colbert,"54,428","54,460","54,493","54,456","54,427","54,295","54,216"
17,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1035.0,Alabama,Conecuh,"13,228","13,193","13,007","12,866","12,621","12,597","12,395"
18,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1037.0,Alabama,Coosa,"11,539","11,369","11,201","11,058","10,794","10,687","10,581"
19,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1039.0,Alabama,Covington,"37,765","38,066","37,842","37,890","37,795","37,661","37,458"
20,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1041.0,Alabama,Crenshaw,"13,906","13,903","13,920","13,874","13,898","13,876","13,913"
21,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1043.0,Alabama,Cullman,"80,406","80,457","80,351","80,731","81,167","81,858","82,471"
22,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1045.0,Alabama,Dale,"50,251","50,119","50,296","49,753","49,389","49,370","49,226"
23,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1047.0,Alabama,Dallas,"43,820","43,207","42,748","41,950","41,532","40,893","40,008"
24,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1049.0,Alabama,DeKalb,"71,109","71,389","70,961","70,882","70,947","70,996","70,900"
25,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1051.0,Alabama,Elmore,"79,303","80,030","80,291","80,661","80,794","81,238","81,799"
26,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1053.0,Alabama,Escambia,"38,319","38,227","38,063","37,877","37,878","37,827","37,728"
27,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1055.0,Alabama,Etowah,"104,430","104,236","104,215","103,790","103,371","102,873","102,564"
28,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1057.0,Alabama,Fayette,"17,241","17,063","16,966","16,858","16,821","16,723","16,546"
29,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1059.0,Alabama,Franklin,"31,704","31,734","31,652","31,505","31,540","31,542","31,628"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303011,56043,WY,Washakie,10.5,12.0,24.0,27.7,27.1,3,1,...,56033.0,Wyoming,Sheridan,"29,116","29,285","29,580","29,777","29,994","30,069","30,200"
303012,56043,WY,Washakie,10.5,12.0,24.0,27.7,27.1,3,1,...,56035.0,Wyoming,Sublette,"10,247","10,145","10,414","10,082","10,019","9,877","9,769"
303013,56043,WY,Washakie,10.5,12.0,24.0,27.7,27.1,3,1,...,56037.0,Wyoming,Sweetwater,"43,806","44,028","45,086","45,144","44,970","44,693","44,165"
303014,56043,WY,Washakie,10.5,12.0,24.0,27.7,27.1,3,1,...,56039.0,Wyoming,Teton,"21,294","21,474","21,688","22,319","22,846","23,073","23,191"
303015,56043,WY,Washakie,10.5,12.0,24.0,27.7,27.1,3,1,...,56041.0,Wyoming,Uinta,"21,118","20,918","20,997","21,006","20,871","20,819","20,773"
303016,56043,WY,Washakie,10.5,12.0,24.0,27.7,27.1,3,1,...,56043.0,Wyoming,Washakie,"8,533","8,470","8,437","8,442","8,306","8,334","8,235"
303017,56043,WY,Washakie,10.5,12.0,24.0,27.7,27.1,3,1,...,56045.0,Wyoming,Weston,"7,208","7,112","7,065","7,163","7,179","7,230","7,236"
303018,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56001.0,Wyoming,Albany,"36,299","36,895","37,364","37,636","37,846","38,079","38,256"
303019,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56003.0,Wyoming,Big Horn,"11,668","11,742","11,781","11,979","11,898","11,991","12,005"
303020,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56005.0,Wyoming,Campbell,"46,133","46,594","47,872","48,116","48,241","49,333","48,803"
303021,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56007.0,Wyoming,Carbon,"15,885","15,824","15,681","15,799","15,829","15,554","15,618"
303022,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56009.0,Wyoming,Converse,"13,833","13,730","14,035","14,358","14,210","14,321","14,191"
303023,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56011.0,Wyoming,Crook,"7,083","7,139","7,152","7,154","7,237","7,414","7,464"
303024,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56013.0,Wyoming,Fremont,"40,123","40,595","41,130","41,010","40,680","40,355","40,242"
303025,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56015.0,Wyoming,Goshen,"13,249","13,592","13,656","13,547","13,546","13,592","13,390"
303026,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56017.0,Wyoming,Hot Springs,"4,812","4,819","4,843","4,840","4,797","4,745","4,679"
303027,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56019.0,Wyoming,Johnson,"8,569","8,632","8,608","8,619","8,562","8,587","8,486"
303028,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56021.0,Wyoming,Laramie,"91,738","92,637","94,785","95,929","96,264","97,183","98,136"
303029,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56023.0,Wyoming,Lincoln,"18,106","18,018","17,940","18,327","18,580","18,757","19,110"
303030,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56025.0,Wyoming,Natrona,"75,450","76,410","78,602","81,092","81,432","82,191","81,039"
303031,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56027.0,Wyoming,Niobrara,"2,484","2,487","2,474","2,546","2,491","2,497","2,480"
303032,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56029.0,Wyoming,Park,"28,205","28,476","28,839","29,096","29,069","29,056","29,353"
303033,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56031.0,Wyoming,Platte,"8,667","8,703","8,736","8,703","8,775","8,805","8,680"
303034,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56033.0,Wyoming,Sheridan,"29,116","29,285","29,580","29,777","29,994","30,069","30,200"
303035,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56035.0,Wyoming,Sublette,"10,247","10,145","10,414","10,082","10,019","9,877","9,769"
303036,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56037.0,Wyoming,Sweetwater,"43,806","44,028","45,086","45,144","44,970","44,693","44,165"
303037,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56039.0,Wyoming,Teton,"21,294","21,474","21,688","22,319","22,846","23,073","23,191"
303038,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56041.0,Wyoming,Uinta,"21,118","20,918","20,997","21,006","20,871","20,819","20,773"
303039,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56043.0,Wyoming,Washakie,"8,533","8,470","8,437","8,442","8,306","8,334","8,235"
303040,56045,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56045.0,Wyoming,Weston,"7,208","7,112","7,065","7,163","7,179","7,230","7,236"

In [66]:
county_data.shape

(303041, 25)

In [54]:
disease_df.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14,state_name
0,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,25.000000,0.073889,0.090261,22.156783,Alabama
1,1003,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,38.888889,0.100331,0.124931,24.518392,Alabama
2,1005,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,-100.000000,0.036157,0.000000,-100.000000,Alabama
3,1007,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,0.000000,0.043590,0.044433,1.932818,Alabama
4,1009,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,0.000000,0.052319,0.051976,-0.654897,Alabama

In [55]:
pd.merge(disease_df, pop_df, how='inner', left_on='state_name', right_on='State')

Empty DataFrame
Columns: [FIPS, State_x, County_x, PCT_DIABETES_ADULTS08, PCT_DIABETES_ADULTS13, PCT_OBESE_ADULTS08, PCT_OBESE_ADULTS13, PCT_HSPA15, RECFAC09, RECFAC14, PCH_RECFAC_09_14, RECFACPTH09, RECFACPTH14, PCH_RECFACPTH_09_14, state_name, FIPS , State_y, County_y, 2010 Census Population, Population Estimate, 2011, Population Estimate, 2012, Population Estimate, 2013, Population Estimate, 2014, Population Estimate, 2015, Population Estimate, 2016]
Index: []

[0 rows x 25 columns]

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 nan]