In [1]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
import numpy as np
import pandas as pd
import scipy

In [2]:
disease_df = pd.read_csv("obs_diabetes.csv") 
pop_df = pd.read_csv("pop_data_by_county.csv")

In [3]:
disease_df.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14
0,1001,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,25.000000,0.073889,0.090261,22.156783
1,1003,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,38.888889,0.100331,0.124931,24.518392
2,1005,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,-100.000000,0.036157,0.000000,-100.000000
3,1007,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,0.000000,0.043590,0.044433,1.932818
4,1009,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,0.000000,0.052319,0.051976,-0.654897

In [4]:

#turned fips into float so we can merge on fips
disease_df["FIPS"] = disease_df["FIPS"].astype(float)
disease_df.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14
0,1001.0,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,25.000000,0.073889,0.090261,22.156783
1,1003.0,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,38.888889,0.100331,0.124931,24.518392
2,1005.0,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,-100.000000,0.036157,0.000000,-100.000000
3,1007.0,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,0.000000,0.043590,0.044433,1.932818
4,1009.0,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,0.000000,0.052319,0.051976,-0.654897

In [5]:
pop_df.head()

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001.0,Alabama,Autauga,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003.0,Alabama,Baldwin,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005.0,Alabama,Barbour,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007.0,Alabama,Bibb,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009.0,Alabama,Blount,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"

In [6]:
# pop_df['FIPS '] = pop_df['FIPS '].round()
# pop_df.head()

In [7]:
pop_df["FIPS "].nunique()

3142

In [8]:
states_df = pd.read_csv("states.csv")
states_df.head()

   state_name abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [9]:
disease_df = pd.merge(disease_df, states_df, how = "inner", left_on = "State", right_on = "abbreviation")
disease_df.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14,state_name,abbreviation
0,1001.0,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,25.000000,0.073889,0.090261,22.156783,Alabama,AL
1,1003.0,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,38.888889,0.100331,0.124931,24.518392,Alabama,AL
2,1005.0,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,-100.000000,0.036157,0.000000,-100.000000,Alabama,AL
3,1007.0,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,0.000000,0.043590,0.044433,1.932818,Alabama,AL
4,1009.0,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,0.000000,0.052319,0.051976,-0.654897,Alabama,AL

In [10]:
disease_df = disease_df.drop("abbreviation", axis = 1)
disease_df.head()

,FIPS,State,County,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14,state_name
0,1001.0,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,25.000000,0.073889,0.090261,22.156783,Alabama
1,1003.0,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,38.888889,0.100331,0.124931,24.518392,Alabama
2,1005.0,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,-100.000000,0.036157,0.000000,-100.000000,Alabama
3,1007.0,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,0.000000,0.043590,0.044433,1.932818,Alabama
4,1009.0,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,0.000000,0.052319,0.051976,-0.654897,Alabama

In [11]:
# pop_df['State'] = pop_df['State'].str.strip() #strip trailing white space from state name
county_data = pd.merge(disease_df, pop_df, how = "inner", left_on = "FIPS", right_on = "FIPS ")
county_data

,FIPS,State_x,County_x,PCT_DIABETES_ADULTS08,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_HSPA15,RECFAC09,RECFAC14,...,FIPS,State_y,County_y,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001.0,AL,Autauga,11.4,13.0,31.5,34.1,25.4,4,5,...,1001.0,Alabama,Autauga,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003.0,AL,Baldwin,9.8,10.4,26.2,27.4,25.4,18,25,...,1003.0,Alabama,Baldwin,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005.0,AL,Barbour,13.6,18.4,37.6,44.4,25.4,1,0,...,1005.0,Alabama,Barbour,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007.0,AL,Bibb,11.1,14.8,32.3,40.3,25.4,1,1,...,1007.0,Alabama,Bibb,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009.0,AL,Blount,11.4,14.1,31.9,34.6,25.4,3,3,...,1009.0,Alabama,Blount,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"
5,1011.0,AL,Bullock,14.9,19.6,37.8,43.0,25.4,0,0,...,1011.0,Alabama,Bullock,"10,914","10,722","10,654","10,576","10,712","10,455","10,362"
6,1013.0,AL,Butler,15.1,17.7,36.8,36.3,25.4,0,1,...,1013.0,Alabama,Butler,"20,947","20,848","20,665","20,330","20,283","20,126","19,998"
7,1015.0,AL,Calhoun,14.5,14.9,33.5,32.2,25.4,7,7,...,1015.0,Alabama,Calhoun,"118,572","117,736","117,208","116,475","115,837","115,285","114,611"
8,1017.0,AL,Chambers,16.1,16.4,35.5,39.7,25.4,2,0,...,1017.0,Alabama,Chambers,"34,215","34,006","34,084","34,123","33,996","34,043","33,843"
9,1019.0,AL,Cherokee,13.6,13.3,31.5,33.6,25.4,1,1,...,1019.0,Alabama,Cherokee,"25,989","26,073","26,017","26,074","25,944","25,726","25,725"
10,1021.0,AL,Chilton,10.2,13.3,34.8,35.9,25.4,3,2,...,1021.0,Alabama,Chilton,"43,643","43,758","43,693","43,769","43,874","43,809","43,941"
11,1023.0,AL,Choctaw,14.7,18.1,36.5,40.8,25.4,0,0,...,1023.0,Alabama,Choctaw,"13,859","13,610","13,549","13,384","13,310","13,201","12,993"
12,1025.0,AL,Clarke,14.1,16.3,36.0,38.2,25.4,2,3,...,1025.0,Alabama,Clarke,"25,833","25,549","25,148","25,105","24,862","24,726","24,392"
13,1027.0,AL,Clay,13.2,14.6,32.2,37.3,25.4,0,0,...,1027.0,Alabama,Clay,"13,932","13,676","13,461","13,464","13,503","13,495","13,492"
14,1029.0,AL,Cleburne,11.0,12.6,28.8,30.0,25.4,0,1,...,1029.0,Alabama,Cleburne,"14,972","14,976","14,928","15,031","15,076","14,996","14,924"
15,1031.0,AL,Coffee,12.1,15.9,32.7,33.7,25.4,5,4,...,1031.0,Alabama,Coffee,"49,948","50,484","51,180","50,729","50,757","51,063","51,226"
16,1033.0,AL,Colbert,13.5,18.7,34.7,37.5,25.4,4,6,...,1033.0,Alabama,Colbert,"54,428","54,460","54,493","54,456","54,427","54,295","54,216"
17,1035.0,AL,Conecuh,14.5,17.4,32.1,36.4,25.4,0,0,...,1035.0,Alabama,Conecuh,"13,228","13,193","13,007","12,866","12,621","12,597","12,395"
18,1037.0,AL,Coosa,13.2,17.3,33.2,39.7,25.4,0,0,...,1037.0,Alabama,Coosa,"11,539","11,369","11,201","11,058","10,794","10,687","10,581"
19,1039.0,AL,Covington,13.1,14.7,33.8,34.0,25.4,2,3,...,1039.0,Alabama,Covington,"37,765","38,066","37,842","37,890","37,795","37,661","37,458"
20,1041.0,AL,Crenshaw,12.6,16.5,33.6,39.7,25.4,0,0,...,1041.0,Alabama,Crenshaw,"13,906","13,903","13,920","13,874","13,898","13,876","13,913"
21,1043.0,AL,Cullman,11.9,14.4,30.1,33.4,25.4,4,3,...,1043.0,Alabama,Cullman,"80,406","80,457","80,351","80,731","81,167","81,858","82,471"
22,1045.0,AL,Dale,13.5,14.1,34.4,36.5,25.4,2,2,...,1045.0,Alabama,Dale,"50,251","50,119","50,296","49,753","49,389","49,370","49,226"
23,1047.0,AL,Dallas,15.6,19.0,39.9,40.8,25.4,1,2,...,1047.0,Alabama,Dallas,"43,820","43,207","42,748","41,950","41,532","40,893","40,008"
24,1049.0,AL,DeKalb,11.2,13.4,31.7,30.4,25.4,4,3,...,1049.0,Alabama,DeKalb,"71,109","71,389","70,961","70,882","70,947","70,996","70,900"
25,1051.0,AL,Elmore,9.9,13.4,29.0,35.4,25.4,4,4,...,1051.0,Alabama,Elmore,"79,303","80,030","80,291","80,661","80,794","81,238","81,799"
26,1053.0,AL,Escambia,12.3,17.8,34.4,37.7,25.4,2,2,...,1053.0,Alabama,Escambia,"38,319","38,227","38,063","37,877","37,878","37,827","37,728"
27,1055.0,AL,Etowah,11.6,16.8,30.8,35.1,25.4,9,9,...,1055.0,Alabama,Etowah,"104,430","104,236","104,215","103,790","103,371","102,873","102,564"
28,1057.0,AL,Fayette,12.7,15.1,32.3,33.7,25.4,0,0,...,1057.0,Alabama,Fayette,"17,241","17,063","16,966","16,858","16,821","16,723","16,546"
29,1059.0,AL,Franklin,12.8,13.9,29.5,33.2,25.4,3,3,...,1059.0,Alabama,Franklin,"31,704","31,734","31,652","31,505","31,540","31,542","31,628"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,55129.0,WI,Washburn,9.6,10.5,28.5,30.8,NaN,1,3,...,55129.0,Wisconsin,Washburn,"15,911","15,792","15,845","15,675","15,701","15,556","15,648"
3111,55131.0,WI,Washington,7.2,8.2,27.1,29.2,NaN,19,21,...,55131.0,Wisconsin,Washington,"131,887","132,292","132,727","132,841","133,433","133,815","134,296"
3112,55133.0,WI,Waukesha,7.2,7.9,27.1,27.5,NaN,56,70,...,55133.0,Wisconsin,Waukesha,"389,891","390,811","392,709","394,059","395,383","396,311","398,424"
3113,55135.0,WI,Waupaca,8.3,9.9,28.5,28.5,NaN,4,3,...,55135.0,Wisconsin,Waupaca,"52,410","52,322","52,040","52,262","52,108","51,925","51,533"
3114,55137.0,WI,Waushara,8.6,10.6,29.0,32.9,NaN,2,1,...,55137.0,Wisconsin,Waushara,"24,496","24,579","24,479","24,324","24,186","24,041","24,162"
3115,55139.0,WI,Winnebago,7.6,8.6,27.6,31.9,NaN,17,14,...,55139.0,Wisconsin,Winnebago,"166,994","167,646","168,764","169,518","169,701","169,565","169,886"
3116,55141.0,WI,Wood,8.7,8.1,27.5,32.3,NaN,10,7,...,55141.0,Wisconsin,Wood,"74,749","74,588","74,306","73,892","73,514","73,288","73,107"
3117,56001.0,WY,Albany,5.0,6.9,20.9,23.3,27.1,6,4,...,56001.0,Wyoming,Albany,"36,299","36,895","37,364","37,636","37,846","38,079","38,256"
3118,56003.0,WY,Big Horn,8.5,11.7,27.0,28.9,27.1,2,1,...,56003.0,Wyoming,Big Horn,"11,668","11,742","11,781","11,979","11,898","11,991","12,005"
3119,56005.0,WY,Campbell,6.5,7.0,28.4,34.3,27.1,5,5,...,56005.0,Wyoming,Campbell,"46,133","46,594","47,872","48,116","48,241","49,333","48,803"
3120,56007.0,WY,Carbon,7.7,8.2,29.5,28.2,27.1,0,0,...,56007.0,Wyoming,Carbon,"15,885","15,824","15,681","15,799","15,829","15,554","15,618"
3121,56009.0,WY,Converse,6.7,10.2,27.7,28.3,27.1,2,2,...,56009.0,Wyoming,Converse,"13,833","13,730","14,035","14,358","14,210","14,321","14,191"
3122,56011.0,WY,Crook,7.8,8.9,25.7,25.9,27.1,0,0,...,56011.0,Wyoming,Crook,"7,083","7,139","7,152","7,154","7,237","7,414","7,464"
3123,56013.0,WY,Fremont,8.2,9.6,25.1,28.3,27.1,5,8,...,56013.0,Wyoming,Fremont,"40,123","40,595","41,130","41,010","40,680","40,355","40,242"
3124,56015.0,WY,Goshen,8.6,9.0,25.7,29.9,27.1,0,0,...,56015.0,Wyoming,Goshen,"13,249","13,592","13,656","13,547","13,546","13,592","13,390"
3125,56017.0,WY,Hot Springs,8.8,11.0,25.3,27.0,27.1,2,2,...,56017.0,Wyoming,Hot Springs,"4,812","4,819","4,843","4,840","4,797","4,745","4,679"
3126,56019.0,WY,Johnson,8.3,8.7,22.9,21.1,27.1,3,2,...,56019.0,Wyoming,Johnson,"8,569","8,632","8,608","8,619","8,562","8,587","8,486"
3127,56021.0,WY,Laramie,8.1,10.1,24.4,29.7,27.1,4,12,...,56021.0,Wyoming,Laramie,"91,738","92,637","94,785","95,929","96,264","97,183","98,136"
3128,56023.0,WY,Lincoln,7.9,8.6,21.0,25.6,27.1,1,3,...,56023.0,Wyoming,Lincoln,"18,106","18,018","17,940","18,327","18,580","18,757","19,110"
3129,56025.0,WY,Natrona,7.4,9.0,26.1,29.4,27.1,9,12,...,56025.0,Wyoming,Natrona,"75,450","76,410","78,602","81,092","81,432","82,191","81,039"
3130,56027.0,WY,Niobrara,7.9,8.4,27.1,25.5,27.1,1,1,...,56027.0,Wyoming,Niobrara,"2,484","2,487","2,474","2,546","2,491","2,497","2,480"
3131,56029.0,WY,Park,6.7,8.0,21.8,25.5,27.1,4,2,...,56029.0,Wyoming,Park,"28,205","28,476","28,839","29,096","29,069","29,056","29,353"
3132,56031.0,WY,Platte,9.3,8.8,22.6,28.0,27.1,0,0,...,56031.0,Wyoming,Platte,"8,667","8,703","8,736","8,703","8,775","8,805","8,680"
3133,56033.0,WY,Sheridan,8.9,9.8,23.9,23.3,27.1,5,4,...,56033.0,Wyoming,Sheridan,"29,116","29,285","29,580","29,777","29,994","30,069","30,200"
3134,56035.0,WY,Sublette,5.3,6.9,24.0,23.5,27.1,1,1,...,56035.0,Wyoming,Sublette,"10,247","10,145","10,414","10,082","10,019","9,877","9,769"
3135,56037.0,WY,Sweetwater,6.8,8.1,29.6,31.7,27.1,4,3,...,56037.0,Wyoming,Sweetwater,"43,806","44,028","45,086","45,144","44,970","44,693","44,165"
3136,56039.0,WY,Teton,4.1,4.8,13.2,12.7,27.1,10,14,...,56039.0,Wyoming,Teton,"21,294","21,474","21,688","22,319","22,846","23,073","23,191"
3137,56041.0,WY,Uinta,6.3,9.0,30.3,27.9,27.1,2,2,...,56041.0,Wyoming,Uinta,"21,118","20,918","20,997","21,006","20,871","20,819","20,773"
3138,56043.0,WY,Washakie,10.5,12.0,24.0,27.7,27.1,3,1,...,56043.0,Wyoming,Washakie,"8,533","8,470","8,437","8,442","8,306","8,334","8,235"
3139,56045.0,WY,Weston,7.1,10.0,28.6,29.2,27.1,1,0,...,56045.0,Wyoming,Weston,"7,208","7,112","7,065","7,163","7,179","7,230","7,236"

In [12]:
county_data.shape

(3140, 25)

In [13]:
county_data = county_data.drop(["FIPS", "PCT_DIABETES_ADULTS08", "PCT_OBESE_ADULTS08",
                            "PCT_OBESE_ADULTS08", "PCT_HSPA15", "RECFAC09", "2010 Census Population",
                            "Population Estimate, 2011", "Population Estimate, 2012", "Population Estimate, 2014",
                           "Population Estimate, 2015", "Population Estimate, 2016"], axis = 1)
county_data.head()

,State_x,County_x,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS13,RECFAC14,PCH_RECFAC_09_14,RECFACPTH09,RECFACPTH14,PCH_RECFACPTH_09_14,state_name,FIPS,State_y,County_y,"Population Estimate, 2013"
0,AL,Autauga,13.0,34.1,5,25.000000,0.073889,0.090261,22.156783,Alabama,1001.0,Alabama,Autauga,"54,792"
1,AL,Baldwin,10.4,27.4,25,38.888889,0.100331,0.124931,24.518392,Alabama,1003.0,Alabama,Baldwin,"195,147"
2,AL,Barbour,18.4,44.4,0,-100.000000,0.036157,0.000000,-100.000000,Alabama,1005.0,Alabama,Barbour,"26,938"
3,AL,Bibb,14.8,40.3,1,0.000000,0.043590,0.044433,1.932818,Alabama,1007.0,Alabama,Bibb,"22,501"
4,AL,Blount,14.1,34.6,3,0.000000,0.052319,0.051976,-0.654897,Alabama,1009.0,Alabama,Blount,"57,746"

In [14]:
county_data = county_data.drop(["RECFAC14", "PCH_RECFAC_09_14", "RECFACPTH09", "RECFACPTH14", 
                               "PCH_RECFACPTH_09_14", "state_name",  "State_y",
                               "County_x",], axis = 1)
county_data.head()

,State_x,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS13,FIPS,County_y,"Population Estimate, 2013"
0,AL,13.0,34.1,1001.0,Autauga,"54,792"
1,AL,10.4,27.4,1003.0,Baldwin,"195,147"
2,AL,18.4,44.4,1005.0,Barbour,"26,938"
3,AL,14.8,40.3,1007.0,Bibb,"22,501"
4,AL,14.1,34.6,1009.0,Blount,"57,746"

In [15]:
# county_data = county_data.drop("FIPS ", axis = 1)

In [16]:
county_data.head()

,State_x,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS13,FIPS,County_y,"Population Estimate, 2013"
0,AL,13.0,34.1,1001.0,Autauga,"54,792"
1,AL,10.4,27.4,1003.0,Baldwin,"195,147"
2,AL,18.4,44.4,1005.0,Barbour,"26,938"
3,AL,14.8,40.3,1007.0,Bibb,"22,501"
4,AL,14.1,34.6,1009.0,Blount,"57,746"

In [17]:
# county_data = pd.DataFrame({"State" : State_x, "County": County_x, "% Of Adults with Diabetes, 2013" : PCT_DIABETES_ADULTS13,
#                            "% Of Obese Adults, 2013" : PCT_OBESE_ADULTS13})

county_data = county_data.rename(columns={"State_x": "State" , "County_y": "County", "FIPS " : "FIPS",
                                         "PCT_DIABETES_ADULTS13": "% Of Adults with Diabetes, 2013",
                                            "PCT_OBESE_ADULTS13": "% Of Obese Adults, 2013" })

In [18]:
county_data.head()

,State,"% Of Adults with Diabetes, 2013","% Of Obese Adults, 2013",FIPS,County,"Population Estimate, 2013"
0,AL,13.0,34.1,1001.0,Autauga,"54,792"
1,AL,10.4,27.4,1003.0,Baldwin,"195,147"
2,AL,18.4,44.4,1005.0,Barbour,"26,938"
3,AL,14.8,40.3,1007.0,Bibb,"22,501"
4,AL,14.1,34.6,1009.0,Blount,"57,746"

In [21]:
county_data = county_data[['State','FIPS', 'County', '% Of Adults with Diabetes, 2013',
                          '% Of Obese Adults, 2013','Population Estimate, 2013' ]]


county_data['Population Estimate, 2013'] = pd.to_numeric(county_data['Population Estimate, 2013'].str.replace(',', ''))
county_data.head()

,State,FIPS,County,"% Of Adults with Diabetes, 2013","% Of Obese Adults, 2013","Population Estimate, 2013"
0,AL,1001.0,Autauga,13.0,34.1,54792
1,AL,1003.0,Baldwin,10.4,27.4,195147
2,AL,1005.0,Barbour,18.4,44.4,26938
3,AL,1007.0,Bibb,14.8,40.3,22501
4,AL,1009.0,Blount,14.1,34.6,57746

In [22]:

d = {'State':'State', '% Of Adults with Diabetes, 2013':'% Of Adults with Diabetes, 2013',
     '% Of Obese Adults, 2013':'% Of Obese Adults, 2013', 'Population Estimate, 2013' : 'Population Estimate, 2013' }
gby_state = county_data.drop('FIPS', axis=1).groupby('State').agg({"% Of Adults with Diabetes, 2013" : 'mean', '% Of Obese Adults, 2013' : 'mean',
                                          'Population Estimate, 2013' : 'sum'   }).rename(columns=d)
gby_state.head()
# df=df.groupby('Name').agg({'Missed':'sum', 'Credit':'sum','Grade':'mean'}).rename(columns=d)
# print (df)

,"% Of Adults with Diabetes, 2013","% Of Obese Adults, 2013","Population Estimate, 2013"
State,,,
AK,7.103571,31.325000,728929
AL,15.489552,36.128358,4829479
AR,13.308000,35.898667,2958663
AZ,11.093333,28.773333,6624617
CA,8.774138,24.131034,38335203

In [ ]:
# state_df = county_data.drop("County", axis = 1)

# state_df.head()

# county_data.head(15)

In [23]:
gby_state.to_csv("state_disease_pop_data.csv", encoding = "utf-8", index = False, header = True)

In [ ]:
# state_tst = county_data.drop(["County", "% Of Adults with Diabetes, 2013", "% Of Obese Adults, 2013"], axis = 1)
# state_tst.head()

In [ ]:
# state_tst_t = state_tst["State"].value_counts()
# state_tst_t.head

In [ ]:
# df2 = state_tst.groupby(['State']).agg('sum')
# df2.head